body {
  background: #f9bcbc;
}

#debp {
  width: 1260px;
  height: 30px;
  background: #000000;
  position: relative;
}
#debp .topNavWrap {
  height: 30px;
  width: 1090px;
  margin: 0 auto;
  line-height: 30px;
  position: relative;
}
#debp .topNavWrap .topNavLeft {
  float: left;
}
#debp .topNavWrap .topNavLeft .f-hkdn {
  color: white;
}
#debp .topNavWrap .topNavLeft a {
  color: white;
}

#debp .topNavWrap a:hover {
  color: red;
}

#debp .topNavWrap .topNavLeft .login {
  margin-left: 16px;
}

#debp .topNavWrap .topNavLeft2 {
  padding-left: 30px;
  float: left;
}

#debp .topNavWrap .topNavLeft2 .app {
  position: relative;
}

#debp .topNavWrap .topNavRight {
  float: right;
  position: relative;
  right: -3px;
}
#debp .topNavWrap .topNavRight li {
  float: left;
}

#debp .topNavWrap .topNavRight li .mcDropMenuBox {
  position: relative;
  left: -3px;
  top: -1px;
  border: 1px solid transparent;
}

#debp .topNavWrap .topnavRight li .toplevel {
  padding: 0 14px 0 8px;
}

#debp .topNavWrap .topNavRight .dropmenu:hover .mcDropMenuBox {
  background: #fff;
}

#debp .topNavWrap .topNavRight .dropmenu:hover .toplevel {
  color: red;
}

#debp .topNavWrap .topNavRight .dropmenu:hover .GeRenCaidan {
  display: block;
  z-index: 105;
}

#debp .topNavWrap .topNavRight .dropmenu:hover .topNavHolder .arr {
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -2px;
  border-color: transparent transparent red;
  border-style: dashed dashed solid;
  border-width: 0 4px 4px;
}

#debp .topNavWrap .topNavRight .greenhand {
  display: none;
}

#debp .topNavWrap .topNavRight .qianDao {
  margin-right: 24px;
}

#debp .topNavWrap .topNavRight .personal {
  position: relative;
}

#debp .topNavWrap .topNavRight .personal .topNavHolder {
  position: relative;
  padding: 0 24px 0 16px !important;
}

#debp .topNavWrap .topNavRight .personal .topNavHolder .arr {
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -2px;
  border-color: #999 transparent transparent;
  border-style: solid dashed dashed;
  border-width: 4px 4px 0;
}

#debp .topNavWrap .topNavRight .personal .GeRenCaidan {
  position: absolute;
  left: -1px;
  top: 30px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  padding: 4px 15px 12px 14px;
  display: none;
  z-index: 105;
}

#debp .topNavWrap .topNavRight .personal .GeRenCaidan a {
  width: 80px;
  display: block;
}

#topNav .topNavWrap .topNavRight .personal .GeRenCaidan a:hover {
  color: red;
}

#docHead {
  background: #fff;
  padding-top: 30px;
}

#docHead .docHeadWrap {
  width: 1090px;
  height: 85px;
  margin: 0 auto;
}

#docHead .docHeadWrap .logo {
  float: left;
}

#docHead .docHeadWrap .searchbox {
  float: left;
  margin-left: 150px;
  position: relative;
  z-index: 100;
}

#docHead .docHeadWrap .searchbox .search {
  width: 510px;
  height: 40px;
  padding-left: 1px;
  background-color: #ff2337;
  border-radius: 40px;
}

#docHead .docHeadWrap .searchbox .search .input {
  float: left;
  margin: 2px 1px;
  padding: 6px 39px 6px 30px;
  background-color: #fff;
  border-radius: 24px 0 0 24px;
}

#docHead .docHeadWrap .searchbox .search .input input {
  width: 410px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  border: none;
}

#docHead .docHeadWrap .searchbox .search .topSearchBtnbox {
  float: left;
  width: 60px;
  height: 40px;
  background: #ff2337;
  border-radius: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

#docHead .docHeadWrap .searchbox .search .topSearchBtnbox:hover {
  background: #f85a7d;
}

#docHead .docHeadWrap .searchbox .search .topSearchBtnbox .topSearchBtn {
  display: inline-block;
  height: 40px;
  width: 50px;
  font-size: 19px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background: url(../images/search.png) no-repeat 70% 50%;
  background-size: 20px 20px;
}

#docHead .docHeadWrap .searchbox .suggestlist {
  line-height: 22px;
  margin-top: 2px;
  width: 461px;
  height: 22px;
  overflow: hidden;
}

#docHead .docHeadWrap .searchbox .suggestlist li {
  float: left;
  white-space: nowrap;
  margin-left: 30px;
}

#docHead .docHeadWrap .searchbox .suggestlist li a {
  color: #999;
}

#docHead .docHeadWrap .searchbox .suggestlist li a:hover {
  text-decoration: underline;
}

#docHead .docHeadWrap .shopcartnew {
  float: right;
  margin-right: 30px;
  display: block;
  width: 106px;
  height: 40px;
  background-color: #fff;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  border-radius: 40px;
  border: 2px solid #ff1e32;
  color: #333;
}

#docHead .docHeadWrap .shopcartnew:hover {
  color: #ff1e32;
  background-color: #fff4f5;
}

#docHead .docHeadWrap .shopcartnew .shop-cart-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: -5px;
  background: url(../images/shopCart.png) no-repeat 0 0;
  background-size: 20px 20px;
}

#docHead .docHeadWrap .shopcartnew .wrap {
  display: inline-block;
  padding-left: 6px;
  background: none;
  vertical-align: middle;
}

#docHead .docHeadWrap .shopcartnew .wrap .num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #ff1e32;
  white-space: nowrap;
}

#topTabBox {
  position: relative;
  background: #fff;
  z-index: 102;
  height: 40px;
}

#topTabBox .topTab {
  width: 1090px;
  margin: 0 auto;
  line-height: 40px;
  z-index: 102;
}

#topTabBox .topTab .topAll {
  float: left;
  height: 40px;
  width: 164px;
  background: red;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
  overflow: visible;
}

#topTabBox .topTab .topAll:hover .catitmlist {
  display: block;
  z-index: 95;
}

#topTabBox .topTab .topAll .toplevel {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 164px;
  text-align: left;
  border-bottom: 1px solid #ff5160;
  cursor: pointer;
}

#topTabBox .topTab .topAll .toplevel .lineicon {
  display: inline-block;
  margin: 0 24px 0 15px;
  width: 15px;
  height: 12px;
  overflow: hidden;
}

#topTabBox .topTab .topAll .toplevel .lineicon i {
  width: 15px;
  height: 0;
  border-top: 2px solid #ddd;
  display: block;
  margin-bottom: 3px;
}

#topTabBox .topTab .topAll .catitmlist {
  z-index: 110;
  display: none;
}

#topTabBox .topTab .topAll .catitmlist .catli {
  position: relative;
  background: red;
  height: 46px;
  line-height: 46px;
  padding-left: 10px;
  width: 164px;
  cursor: pointer;
  text-align: left;
  padding-right: 3px;
}

#topTabBox .topTab .topAll .catitmlist .catli:hover {
  background: #fff;
  border-right: 4px solid red;
  border-left: 2px solid red;
  border-top: 2px solid red;
}

#topTabBox .topTab .topAll .catitmlist .catli:hover .catBg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0 20px 0 4px;
  background: url(../images/topTab_catli_car2.png) no-repeat;
  background-size: 20px 20px;
}

#topTabBox .topTab .topAll .catitmlist .catli:hover .catTxt {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 30px;
  color: red;
  margin-left: 20px;
  line-height: 30px;
  white-space: nowrap;
}

#topTabBox .topTab .topAll .catitmlist .catli span {
  display: inline-block;
}

#topTabBox .topTab .topAll .catitmlist .catli .catBg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0 20px 0 4px;
  background: url(../images/topTab_catli_car.png) no-repeat;
  background-size: 20px 20px;
}

#topTabBox .topTab .topAll .catitmlist .catli .catTxt {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 30px;
  margin-left: 20px;
  line-height: 30px;
  white-space: nowrap;
}

#topTabBox .topTab .funcTab {
  z-index: 72;
  float: left;
  padding-left: 25px;
}

#topTabBox .topTab .funcTab li {
  float: left;
  height: 40px;
  overflow: hidden;
  padding: 0 20px;
}

#topTabBox .topTab .funcTab li a {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

#topTabBox .topTab .funcTab li a:hover {
  text-decoration: none;
  color: #ff1e32;
}

#topTabBox .topTab .funcTab::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#mainWrap {
  width: 1090px;
  font-size: 14px;
  margin: 0 auto;
  border-top: 1px solid #e8e8e8;
}
#mainWrap .catbarbox {
  font-size: 14px;
}
#mainWrap .catbarbox .crumbs {
  height: 55px;
  line-height: 22px;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #999;
  margin-bottom: 40px;
}
#mainWrap .catbarbox .crumbs .txt {
  line-height: 24px;
}
#mainWrap .catbarbox .crumbs .pinlei {
  float: left;
}
#mainWrap .catbarbox .crumbs .n-crumbtn {
  display: inline-block;
  margin: 4px;
  border: 1px solid #ccc;
}
#mainWrap .catbarbox .crumbs .n-crumbtn .btnbox {
  position: relative;
  z-index: 0;
  height: 18px;
  line-height: 18px;
  background: #fff;
}
#mainWrap .catbarbox .crumbs .n-crumbtn .btnbox .btn {
  display: inline-block;
  padding: 0 5px;
  margin-right: 15px;
  height: 20px;
  line-height: 20px;
  max-width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#mainWrap .catbarbox .crumbs .n-crumbtn .btnbox .v-icon {
  position: absolute;
  right: 6px;
  top: 4px;
  width: 6px;
  height: 6px;
  border: 2px solid #ccc;
  border-width: 0 0 2px 2px;
  transform-origin: 30% 70%;
  transition: transform 0.1s ease-in;
  transform: rotate(-45deg);
}
#mainWrap .catbarbox .crumbs .ellipsis {
  display: inline-block;
  max-width: 300px;
  color: #999;
  vertical-align: middle;
}
#mainWrap .Pinfowrap {
  margin: 20px 0 0;
  height: 488px;
}
#mainWrap .Pinfowrap .PimgBox {
  float: left;
  width: 402px;
  display: inline;
  z-index: 1000;
}
#mainWrap .Pinfowrap .PimgBox .scrollBtn {
  display: inline-block;
  z-index: 1000;
  width: 33px;
  height: 62px;
  padding: 1px 0;
  margin: 0;
  border: 1px solid #eee;
  text-decoration: none;
  font-size: 38px;
  color: #666;
  line-height: 62px;
  text-align: center;
  background-color: #fff;
}
#mainWrap .Pinfowrap .PimgBox .scrollleft {
  left: 0;
  top: 421px;
  color: #ddd;
}
#mainWrap .Pinfowrap .PimgBox .scrollright {
  right: 0;
  top: 421px;
  color: #ddd;
}
#mainWrap .Pinfowrap .PimgBox .litimg {
  height: 70px;
  overflow: hidden;
  top: 419px;
  left: 35px;
  width: 330px;
}
#mainWrap .Pinfowrap .PimgBox .litimg .litimgUl {
  width: 800px;
  padding-left: 10px;
  z-index: 2;
}
#mainWrap .Pinfowrap .PimgBox .showImg {
  border: 1px solid #eee;
  width: 402px;
  height: 402px;
  cursor: crosshair;
}
#mainWrap .Pinfowrap .Pinfo {
  float: left;
  width: 658px;
  margin-left: 30px;
  font-size: 12px;
  position: relative;
}
#mainWrap .Pinfowrap .Pinfo dt {
  color: #333;
  word-wrap: break-word;
}
#mainWrap .Pinfowrap .Pinfo .PTags {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin-left: -6px;
  font-size: 0;
}
#mainWrap .Pinfowrap .Pinfo .PTags .tag {
  display: inline-block;
  width: 54px;
  height: 22px;
  margin-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  background: url(../img/details_tag.png) 0 0 no-repeat;
}
#mainWrap .Pinfowrap .Pinfo .PTags .selftag {
  background-position: -94px 0;
  color: #cf2c48;
}
#mainWrap .Pinfowrap .Pinfo .PTags .crosstag {
  background-position: -160px 0;
  color: #8b71c5;
}
#mainWrap .Pinfowrap .Pinfo .country {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#mainWrap .Pinfowrap .Pinfo .country span {
  line-height: 24px;
  float: left;
  font-size: 13px;
  margin-left: 6px;
  color: #999;
  font-weight: 400;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .country span img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .country .split {
  font-size: 12px;
}
#mainWrap .Pinfowrap .Pinfo .product-title {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  height: 50px;
}
#mainWrap .Pinfowrap .Pinfo .subTit {
  margin: 10px 0 10px 0;
  color: #333;
  line-height: 20px;
  font-size: 13px;
}
#mainWrap .Pinfowrap .Pinfo .product-price {
  background-color: #f9f9f9;
  z-index: 22;
  height: 65px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 4px;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price {
  overflow: hidden;
  position: relative;
  padding-top: 5px;
  border-top: 1px dotted #ddd;
  z-index: 100;
  font-size: 0;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  float: left;
  line-height: 26px;
  margin: 8px 0;
  vertical-align: 4px;
  display: inline-block;
  width: 75px;
  color: #666;
  margin-left: 10px;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .price-cnt {
  margin-left: 70px;
  line-height: 47px;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .price-cnt div {
  float: left;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .price-cnt .price {
  font-size: 26px;
  color: #e31436;
  font-weight: bold;
  vertical-align: baseline;
  line-height: 1;
  margin: 8px 0;
  display: inline-block;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .price-cnt .baoyou {
  display: inline-block;
  margin-left: 10px;
  background-color: #f68587;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  color: #fff;
  font-size: 12px;
  margin-top: 15px;
  vertical-align: 5px;
  border-radius: 2px;
}
#mainWrap .Pinfowrap .Pinfo .product-price .m-price .price-cnt .offprice {
  vertical-align: 4px;
  font-size: 12px;
  color: #999;
  margin-left: 14px;
  margin-bottom: 8px;
}
#mainWrap .Pinfowrap .Pinfo .huodong {
  margin-top: -12px;
  padding-top: 12px;
  position: relative;
}
#mainWrap .Pinfowrap .Pinfo .huodong .m-prt {
  margin-top: 8px;
  margin-bottom: 8px;
}
#mainWrap .Pinfowrap .Pinfo .huodong .m-prt .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  width: 75px;
  color: #666;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .huodong .hdRight {
  margin-top: 8px;
  margin-bottom: 8px;
  position: absolute;
  top: 12px;
  left: 80px;
}
#mainWrap .Pinfowrap .Pinfo .huodong .hdRight .xrzx-title {
  display: inline-block;
  min-width: 48px;
  padding: 0 4px;
  color: #fff;
  background-color: #e31436;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .huodong .hdRight .xrzx {
  color: #e31436;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  max-width: 400px;
}
#mainWrap .Pinfowrap .Pinfo .shuifei {
  position: relative;
  z-index: 11;
  height: 30px;
  margin-top: 15px;
  padding-top: 8px;
}
#mainWrap .Pinfowrap .Pinfo .shuifei .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  width: 75px;
  color: #666;
  vertical-align: middle;
  float: left;
}
#mainWrap .Pinfowrap .Pinfo .shuifei .descwrap {
  float: left;
}
#mainWrap .Pinfowrap .Pinfo .shuifei .descwrap .taxmsg {
  height: 32px;
  line-height: 32px;
  margin-top: -8px;
}
#mainWrap .Pinfowrap .Pinfo .fuwu {
  margin-top: 15px;
}
#mainWrap .Pinfowrap .Pinfo .fuwu .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  width: 75px;
  color: #666;
  vertical-align: middle;
  float: left;
}
#mainWrap .Pinfowrap .Pinfo .fuwu .tomorrowarr {
  margin: 5px 0 0 85px;
}
#mainWrap .Pinfowrap .Pinfo .fuwu .tomorrowarr .f-bold {
  font-weight: bold;
  font-size: 14px;
}
#mainWrap .Pinfowrap .Pinfo .shuliang {
  margin-top: 15px;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  width: 75px;
  color: #666;
  vertical-align: middle;
  float: left;
  line-height: 24px;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .ctrnum-wrap {
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .ctrnum-wrap .mp {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-family: "iconfont";
  text-decoration: none;
  vertical-align: top;
  user-select: none;
  color: black;
  background-color: #f3f3f3;
  cursor: default;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .ctrnum-wrap .ctrnum-minus {
  border-right: 1px solid #ccc;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .ctrnum-wrap .ctrnum-qty {
  width: 38px;
  padding: 4px 5px;
  margin: 0;
  line-height: 1;
  height: 14px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  color: #333;
  border: none;
  box-sizing: content-box;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .ctrnum-wrap .ctrnum-plus {
  border-left: 1px solid #ccc;
}
#mainWrap .Pinfowrap .Pinfo .shuliang .buybox .domeTips {
  color: #e31436;
  font-weight: 300;
  margin-left: 5px;
  vertical-align: middle;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop {
  padding: 6px 0 0 0;
  margin: 15px 0 25px 0;
  color: #666;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .m-line-title {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  width: 75px;
  color: #666;
  vertical-align: middle;
  float: left;
  line-height: 20px;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly {
  display: inline-block;
  line-height: 20px;
  margin-right: 10px;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly li {
  padding-left: 19px;
  line-height: 18px;
  float: left;
  margin-right: 10px;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly li i {
  width: 12px;
  height: 12px;
  background: url(../images/details_shuomin_Y.png) no-repeat;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly li .unsupport {
  width: 12px;
  height: 12px;
  background: url(../images/details_shuomin_W.png) no-repeat;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly .link {
  display: inline-block;
  text-decoration: none;
  color: #333;
}
#mainWrap .Pinfowrap .Pinfo .shuomin .smTop .buynowonly .link:hover {
  cursor: pointer;
  text-decoration: underline;
}
#mainWrap .Pinfowrap .Pinfo .buy .smBtn {
  margin-left: 20px;
}
#mainWrap .Pinfowrap .Pinfo .buy .smBtn a {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
#mainWrap .Pinfowrap .Pinfo .buy .smBtn .lijigm {
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #f8305b;
  background-color: #fffaf8;
  border: 2px solid #f8305b;
  margin-right: 8px;
}
#mainWrap .Pinfowrap .Pinfo .buy .smBtn .jiarugwc {
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #e31436;
  border: none;
  margin-right: 8px;
}

#docFoot {
  margin: 80px 0 0;
}

#docFoot .footBgWrap {
  background: #fff;
  border-top: 1px solid #eaeaea;
}

#docFoot .footBgWrap .box {
  width: 1100px;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  display: block;
}

#docFoot .footBgWrap .box #btmlist {
  padding: 49px 0;
  border-bottom: 1px solid #eaeaea;
  height: 140px;
}

#docFoot .footBgWrap .box #btmlist li {
  float: left;
  width: 233px;
  margin-left: 42px;
}

#docFoot .footBgWrap .box #btmlist li .btmIcon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-right: 12px;
}

#docFoot .footBgWrap .box #btmlist li .tit {
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 22px;
}

#docFoot .footBgWrap .box #btmlist li .desc {
  font-size: 14px;
  display: block;
  line-height: 22px;
}

#docFoot .footBgWrap .box #guideList {
  padding: 45px 0 90px;
  width: 1090px;
  height: 220px;
}

#docFoot .footBgWrap .box #guideList .first {
  width: 218px;
  margin-right: 100px;
  border: none;
}

#docFoot .footBgWrap .box #guideList .first a {
  text-decoration: none;
}

#docFoot .footBgWrap .box #guideList .first .logokaola {
  display: block;
  width: 220px;
  height: 43px;
  line-height: 45px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  background: url(../images/logo.png) no-repeat;
}

#docFoot .footBgWrap .box #guideList .first .focuson {
  width: 220px;
  height: 32px;
}

#docFoot .footBgWrap .box #guideList .first .focuson .label {
  display: inline-block;
  vertical-align: middle;
}

#docFoot .footBgWrap .box #guideList .first .focuson .itm {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

#docFoot .footBgWrap .box #guideList .first .focuson .itm .weibo {
  background: url(../images/weibo.png) no-repeat;
  width: 32px;
  height: 32px;
  background-size: 100%;
  display: inline-block;
}

#docFoot .footBgWrap .box #guideList li {
  float: left;
  width: 110px;
  padding: 0 0 0 21px;
  height: 128px;
}

#docFoot .footBgWrap .box #guideList li dt {
  margin: -4px 0 10px;
}

#docFoot .footBgWrap .box #guideList li dt em {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

#docFoot .footBgWrap .box #guideList li dd {
  line-height: 29px;
}

#docFoot .footBgWrap .box #guideList li dd a {
  color: #333;
}

#docFoot .footBgWrap .box #guideList li dd a:hover {
  text-decoration: underline;
}

#docFoot .footBgWrap .box #guideList .last {
  margin-left: 30px;
  width: 108px;
  text-align: center;
  float: left;
  border: none;
}

#docFoot .footBgWrap .box #guideList .last img {
  margin: 0 0 6px;
}

#aboutNEST {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #c2c2c2;
  background: #333;
}

#aboutNEST .jianjie a {
  color: #c2c2c2;
}

#aboutNEST .jianjie a:hover {
  text-decoration: underline;
}

#aboutNEST .xukezheng .m-license {
  margin-left: 20px;
  color: #c2c2c2;
}

#aboutNEST .xukezheng .m-license:hover {
  text-decoration: underline;
}

#aboutNEST .gongwan .banquan {
  color: #c2c2c2;
  display: inline-block;
  margin-left: 32px;
}

#aboutNEST .gongwan .banquan:hover {
  text-decoration: underline;
}

#aboutNEST .f-tac {
  height: 50px;
  margin-top: 20px;
  padding-left: 45%;
}

#aboutNEST .f-tac a {
  float: left;
  margin-right: 20px;
}

#aboutNEST .f-tac a img {
  height: 30px;
}

/*# sourceMappingURL=details.css.map */
