#docHead {
  border-bottom: 1px solid #e8e8ea;
  position: relative;
  height: 101px;
  background: #fff;
  z-index: 103;
}
#docHead .docHeadWrap {
  position: relative;
  zoom: 1;
  width: 1090px;
  height: 100px;
  margin: 0 auto;
}
#docHead .docHeadWrap .logokaola {
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 20px;
  width: 330px;
  height: 65px;
  line-height: 65px;
  outline: none;
  cursor: pointer;
  background-position: left center;
  background: url(../images/logo.png) no-repeat;
}

#denglu {
  height: 520px;
  background: url(../images/zd.tp.png) no-repeat;
  background-position: 143px 151px;
  display: block;
  position: relative;
}
#denglu .denglu {
  width: 352px;
  height: 285px;
  background: #fff;
  position: absolute;
  left: 738px;
  top: 110px;
  border: 1px solid #eaeaea;
}
#denglu .denglu .drTop {
  width: 350px;
  height: 52px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 52px;
  color: #e31436;
  text-align: center;
  cursor: pointer;
}
#denglu .denglu .drCenter {
  width: 350px;
  padding: 20px 40px 15px;
  background-color: #fff;
}
#denglu .denglu .drCenter .inputbox {
  height: 34px;
  line-height: 30px;
  border-color: #d5d5d5;
  border-radius: 2px;
  z-index: 19;
  position: relative;
  margin-bottom: 0px;
  border: 1px solid #c5cddb;
  background: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}
#denglu .denglu .drCenter .inputbox .u-logo {
  width: 17px;
  padding: 0 11px;
  float: left;
  text-align: center;
  height: 100%;
}
#denglu .denglu .drCenter .inputbox .u-logo div {
  width: 17px;
  height: 18px;
  margin-top: 8px;
  display: inline-block;
}
#denglu .denglu .drCenter .inputbox .u-logo .u-logo-img2 {
  background: url(../images/denglu.png) no-repeat;
  background-position: -68px -34px;
}
#denglu .denglu .drCenter .inputbox .u-logo .u-logo-img3 {
  background: url(../images/denglu.png) no-repeat;
  background-position: -36px -34px;
}
#denglu .denglu .drCenter .inputbox .u-input {
  height: 30px;
  margin: 2px 0;
  position: relative;
  float: left;
}
#denglu .denglu .drCenter .inputbox .u-input input {
  padding-left: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  width: 180px;
  background: #fff;
  border: 0;
  margin-left: 10px;
}
#denglu .denglu .drCenter .loginbox {
  margin-top: 7px;
  margin-bottom: 10px;
}
#denglu .denglu .drCenter .loginbox .u-loginbtn {
  height: 36px;
  background: #e31436;
  color: #fff;
  border-radius: 2px;
  line-height: 36px;
  font-size: 14px;
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
#denglu .denglu .drCenter .loginbox .u-loginbtn:hover {
  background: #f5345e;
}
#denglu .denglu .drCenter .loginbox .u-loginbtn::after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
#denglu .denglu .drbottom {
  width: 350px;
  height: 45px;
  padding: 10px 40px;
  border-top: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 14px;
}
#denglu .denglu .drbottom .thirdlogin {
  float: left;
  width: 140px;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon {
  position: relative;
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon .icon {
  background: url(../images/login_drbottom.png.png) no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon .w-icon {
  background-position: -760px -401px;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon .w-icon1 {
  background-position: -792px -401px;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon .w-icon2 {
  background-position: -824px -401px;
}
#denglu .denglu .drbottom .thirdlogin .thirdicon .w-icon3 {
  background-position: -856px -401px;
}
#denglu .denglu .drbottom .gotoreg {
  display: inline-block;
  float: right;
  width: 105px;
  color: #e31436;
  line-height: 22px;
  cursor: pointer;
  position: relative;
}
#denglu .denglu .drbottom .gotoreg:hover {
  text-decoration: underline;
}
#denglu .denglu .drbottom .gotoreg .arrow {
  display: block;
  background: url(../img/login_drbottom.png.png) no-repeat;
  margin-left: 5px;
  height: 22px;
  background-position: -899px -402px;
  width: 14px;
  position: absolute;
  right: 0;
  top: 0;
}
#denglu .zhuce {
  width: 352px;
  height: 285px;
  background: #fff;
  position: absolute;
  left: 738px;
  top: 110px;
  border: 1px solid #eaeaea;
  display: none;
}
#denglu .zhuce .zcTop {
  width: 350px;
  height: 52px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
  line-height: 52px;
}
#denglu .zhuce .zcTop .zc {
  color: #e31436;
  margin-left: 50px;
}
#denglu .zhuce .zcTop .dl {
  margin-left: 70px;
  font-size: 12px;
}
#denglu .zhuce .zcTop .dl .dengl {
  color: blue;
}
#denglu .zhuce .zcTop .dl .dengl:hover {
  text-decoration: underline;
}
#denglu .zhuce .zcCenter {
  width: 350px;
  padding: 20px 40px 15px;
  background-color: #fff;
}
#denglu .zhuce .zcCenter .inputbox {
  height: 34px;
  line-height: 30px;
  border-color: #d5d5d5;
  border-radius: 2px;
  z-index: 19;
  position: relative;
  margin-bottom: 0px;
  border: 1px solid #c5cddb;
  background: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}
#denglu .zhuce .zcCenter .inputbox .u-logo {
  width: 17px;
  padding: 0 11px;
  float: left;
  text-align: center;
  height: 100%;
}
#denglu .zhuce .zcCenter .inputbox .u-logo div {
  width: 17px;
  height: 18px;
  margin-top: 8px;
  display: inline-block;
}
#denglu .zhuce .zcCenter .inputbox .u-logo .u-logo-img2 {
  background: url(../images/denglu.png) no-repeat;
  background-position: -68px -34px;
}
#denglu .zhuce .zcCenter .inputbox .u-logo .u-logo-img3 {
  background: url(../images/denglu.png) no-repeat;
  background-position: -36px -34px;
}
#denglu .zhuce .zcCenter .inputbox .u-input {
  height: 30px;
  margin: 2px 0;
  float: left;
}
#denglu .zhuce .zcCenter .inputbox .u-input input {
  padding-left: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  width: 180px;
  background: #fff;
  border: 0;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 30px;
}
#denglu .zhuce .zcCenter .inputbox .u-input .zctisi {
  position: absolute;
  bottom: -26px;
  left: 10px;
}
#denglu .zhuce .zcCenter .loginbox {
  margin-top: 7px;
  margin-bottom: 10px;
}
#denglu .zhuce .zcCenter .loginbox .u-loginbtn {
  height: 36px;
  background: #e31436;
  color: #fff;
  line-height: 36px;
  font-size: 14px;
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
  border: 0;
}
#denglu .zhuce .zcCenter .loginbox .u-loginbtn:hover {
  background: #f5345e;
}
#denglu .zhuce .zcCenter .loginbox .u-loginbtn::after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
#denglu .zhuce .fur-item {
  text-align: center;
}
#denglu .zhuce .fur-item .u-zc-agree {
  display: inline-block;
}
#denglu .zhuce .fur-item .u-zc-agree input {
  width: 13px;
  height: 13px;
  line-height: 16px;
}

#foot {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
#foot .aboutNEST {
  background: #fff;
  padding: 0;
  color: #666;
  position: relative;
  line-height: 26px;
  text-align: center;
}
#foot .aboutNEST a {
  color: #666;
}
#foot .aboutNEST a:hover {
  opacity: 0.7;
}
#foot .aboutNEST span {
  margin: 0 20px;
}
#foot .aboutNEST .m-license {
  font-size: 12px;
  color: #999;
  margin-left: 20px;
}
#foot .aboutNEST .f-tac {
  height: 40px;
  text-align: center;
  position: relative;
}
#foot .aboutNEST .f-tac a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 45%;
}
#foot .aboutNEST .f-tac a img {
  height: 30px;
  margin: 5px 0 0 10px;
  float: left;
}

/*# sourceMappingURL=login.css.map */
