
$width:1090px;
$auto: 0 auto; 
body{
    background:#f9bcbc;
}
#debp{
    width:1260px;
    height:30px;
    background:#000000;
    position:relative;
    .topNavWrap{
        height:30px;
        width:1090px;
        margin:0 auto;
        line-height:30px;
        position:relative;
        .topNavLeft{
            float:left;
            .f-hkdn{
                color:white;
            }
            a{
                color:white;
            }
        }
        
    }
}
#debp .topNavWrap a:hover{
    color:red;
}
#debp .topNavWrap .topNavLeft .login{
    margin-left:16px;
}
#debp .topNavWrap .topNavLeft2{
    padding-left:30px;
    float:left;
}
 #debp .topNavWrap .topNavLeft2 .app {
        position: relative; 
}
#debp .topNavWrap .topNavRight{
    float:right;
    position:relative;
    right:-3px;
    li{
        float:left;
    }
}
#debp .topNavWrap .topNavRight li .mcDropMenuBox{
    position:relative;
    left:-3px;
    top:-1px;
    border:1px solid transparent;
}
#debp .topNavWrap .topnavRight li  .toplevel{
    padding:0 14px 0 8px;
}
 #debp .topNavWrap .topNavRight .dropmenu:hover .mcDropMenuBox {
        background: #fff; 
}
#debp .topNavWrap .topNavRight .dropmenu:hover .toplevel {
        color: red;
}
#debp .topNavWrap .topNavRight .dropmenu:hover .GeRenCaidan {
        display: block;
        z-index: 105; 
}
#debp .topNavWrap .topNavRight .dropmenu:hover .topNavHolder .arr {
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -2px;
        border-color: transparent transparent red;
        border-style: dashed dashed solid;
        border-width: 0 4px 4px; 
}
#debp .topNavWrap .topNavRight .greenhand {
        display: none; 
}
 #debp .topNavWrap .topNavRight .qianDao {
        margin-right: 24px; 
}
#debp .topNavWrap .topNavRight .personal {
        position: relative; 
}
 #debp .topNavWrap .topNavRight .personal .topNavHolder {
          position: relative;
          padding: 0 24px 0 16px !important; 
}
#debp .topNavWrap .topNavRight .personal .topNavHolder .arr {
            position: absolute;
            right: -10px;
            top: 50%;
            margin-top: -2px;
            border-color: #999 transparent transparent;
            border-style: solid dashed dashed;
            border-width: 4px 4px 0; 
}
 #debp .topNavWrap .topNavRight .personal .GeRenCaidan {
          position: absolute;
          left: -1px;
          top: 30px;
          background: #fff;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
          padding: 4px 15px 12px 14px;
          display: none;
          z-index: 105; 
}
#debp .topNavWrap .topNavRight .personal .GeRenCaidan a {
            width: 80px;
            display: block; 
}
#debp .topNavWrap .topNavRight .personal .GeRenCaidan a:hover {
            color: red; 
}
#docHead{
    background: #fff;
    padding-top:30px;
    .docHeadWrap{
        width: $width;
        height: 85px;
        margin:$auto;
        .logo{
            float: left;
        }
    }
}
#docFoot {
  margin: 0px 0 0; 
}
#docFoot .footBgWrap {
background: #fff;
border-top: 1px solid #eaeaea; 
}
#docFoot .footBgWrap .box {
width: 1100px;
margin: 0 auto;
background-color: transparent;
text-align: left;
font-size: inherit;
color: inherit;
cursor: default;
display: block; 
}
#docFoot .footBgWrap .box #btmlist {
padding: 49px 0;
border-bottom: 1px solid #eaeaea;
height: 140px; 
}
#docFoot .footBgWrap .box #btmlist li {
  float: left;
  width: 233px;
  margin-left: 42px; 
}
  #docFoot .footBgWrap .box #btmlist li .btmIcon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-right: 12px; 
  }
  #docFoot .footBgWrap .box #btmlist li .tit {
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 22px; 
  }
  #docFoot .footBgWrap .box #btmlist li .desc {
    font-size: 14px;
    display: block;
    line-height: 22px; 
  }
#docFoot .footBgWrap .box #guideList {
padding: 45px 0 90px;
width: 1090px;
height: 220px; 
}
#docFoot .footBgWrap .box #guideList .first {
  width: 218px;
  margin-right: 100px;
  border: none; 
}
  #docFoot .footBgWrap .box #guideList .first a {
    text-decoration: none; 
  }
  #docFoot .footBgWrap .box #guideList .first .logokaola {
    display: block;
    width: 220px;
    height: 43px;
    line-height: 45px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
    background: url(../images/logo.png) no-repeat; 
  }
  #docFoot .footBgWrap .box #guideList .first .focuson {
    width: 220px;
    height: 32px; 
  }
    #docFoot .footBgWrap .box #guideList .first .focuson .label {
      display: inline-block;
      vertical-align: middle;
       }
    #docFoot .footBgWrap .box #guideList .first .focuson .itm {
      position: relative;
      margin-left: 10px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle; 
    }
      #docFoot .footBgWrap .box #guideList .first .focuson .itm .weibo {
        background: url(../images/weibo.png) no-repeat;
        width: 32px;
        height: 32px;
        background-size: 100%;
        display: inline-block; 
      }
#docFoot .footBgWrap .box #guideList li {
  float: left;
  width: 110px;
  padding: 0 0 0 21px;
  height: 128px; 
}
  #docFoot .footBgWrap .box #guideList li dt {
    margin: -4px 0 10px; 
  }
    #docFoot .footBgWrap .box #guideList li dt em {
      font-size: 18px;
      font-weight: 400;
      font-style: normal; 
    }
  #docFoot .footBgWrap .box #guideList li dd {
    line-height: 29px; 
  }
    #docFoot .footBgWrap .box #guideList li dd a {
      color: #333; }
      #docFoot .footBgWrap .box #guideList li dd a:hover {
        text-decoration: underline; 
      }
#docFoot .footBgWrap .box #guideList .last {
  margin-left: 30px;
  width: 108px;
  text-align: center;
  float: left;
  border: none; 
}
  #docFoot .footBgWrap .box #guideList .last img {
    margin: 0 0 6px; 
  }

#aboutNEST {
padding-top: 20px;
width: 100%;
margin: 0 auto;
text-align: center;
color: #c2c2c2;
background: #333; 
}
#aboutNEST .jianjie a {
color: #c2c2c2; 
}
#aboutNEST .jianjie a:hover {
text-decoration: underline; 
}
#aboutNEST .xukezheng .m-license {
margin-left: 20px;
color: #c2c2c2; 
}
#aboutNEST .xukezheng .m-license:hover {
text-decoration: underline; 
}
#aboutNEST .gongwan .banquan {
color: #c2c2c2;
display: inline-block;
margin-left: 32px; 
}
#aboutNEST .gongwan .banquan:hover {
text-decoration: underline; 
}
#aboutNEST .f-tac {
height: 50px;
margin-top: 20px;
padding-left: 45%; 
}
#aboutNEST .f-tac a {
float: left;
margin-right: 20px; 
}
#aboutNEST .f-tac a img {
height: 30px; 
}



